# Dependencies
/node_modules

# Build output
/dist
dist.zip

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables - IMPORTANT
.env
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / OS specific
.vscode/
.idea/
.DS_Store

# Coverage
coverage/

# Terraform files
# Ignore local variable files
*.tfvars
*.tfvars.json

# Ignore Terraform state files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup